@model SMS.Models.ResultVM

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @{
            var Id = Request.Url.Segments[3];
            var Cid = ViewBag.Cid;
            int CourseId = Cid;
            var SectionId = Id;

        }
        <input type="text" name="Course" value=@CourseId style="display:none" />
        <input type="text" name="Section" value=@SectionId style="display:none" />
        <div class="form-group">
            <hr />
            <h2 style="color  :#b18757; font-family : Calisto MT">&emsp; &emsp; Upload Results </h2>
            <div class="form-group">

                <p><font size="4">&emsp; &emsp; Class &emsp; &emsp; &emsp; &nbsp; &emsp; &emsp;@ViewBag.ClassName <br></font>
            </div>
            <font size="4">
                &emsp; &emsp; Section &emsp; &emsp;&nbsp;&nbsp; &emsp; &emsp;@ViewBag.Sec <br>
                &emsp; &emsp; Course &emsp; &emsp;&nbsp; &emsp; &emsp; @ViewBag.CN
            </font>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (ViewBag.T == "")
                {
                    <input type="text" name="Title" placeholder="Title as 'Mid term | 2016-17'" required />
                }
                else
                {
                    <input type="text" name="Title" placeholder="Title as 'Mid term | 2016-17'" required value="@ViewBag.T" />

                }
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                <br />
                &emsp; &emsp;<font size="3">
                    <p style="background-color:rgba(254, 76, 76, 0.75) ;font-family : Calisto MT">@ViewBag.Err</p>
                </font>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.TotalMarks, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="number" name="TotalMarks" style="width : 200px" required />

                @Html.ValidationMessageFor(model => model.TotalMarks, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Upload Result of Section" class="btn btn-default" />
            </div>
        </div>
    </div>

            }
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
