@model SMS.Models.DatesheetVM


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Date Sheet</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ClassName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Class" name="ClassId" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="Course" name="CourseId" class="form-control">
                    <option></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@{ if (ViewBag.Color == "green")
            {
        <div class="alert alert-success">
            <strong>Success!</strong> @ViewBag.message
        </div>
    }
    else if (ViewBag.Color == "red")
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewBag.message
        </div>
    }
}
<div>
    @Html.ActionLink("Back to List", "ViewDateSheets")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
        $(document).ready(function (e){
            var d = {};
            d.url = '@Url.Action("LoadClasses", "Admin")';
            d.type = "POST";
            d.dataType = "json";
            d.contentType = "application/json";
            d.success = function (r) {
                $("#Class").empty();
                $("#Class").prepend("option value='' selected='selected'></option>");
                for (var i = 0; i < r.length; i++) {
                    $("#Class").append('<option value="' + r[i].Id + '">' + r[i].Name + '</option>');
                }
            };
            $.ajax(d);
        });
</script>


<script type="text/javascript">
        $(document).ready(function () {
            $("#Class").change(function () {
                debugger;
                event.preventDefault();
                var selectedValue = $("#Class").select();
               // var $url = '/Admin/LoadSections';
               // alert($url);

                $.ajax({
                    url: '@Url.Action("Loaddtcourses", "Admin")',
                    type: 'POST',
                    datatype: "json",
                    data: "Item=" + $("#Class option:selected").val(),
                    success: function (r) {
                        $("#Course").empty();
                        $("#Course").prepend("option value='' selected='selected'></option>");
                        for (var i = 0; i < r.length; i++) {
                            $("#Course").append('<option value="' + r[i].ID + '">' + r[i].Name + '</option>');
                        }
                    }
                });
            });
        });
</script>
}
