@model SMS.Models.PersonVM

<style>
    .ie-panel {
        display: none;
        background: #212121;
        padding: 10px 0;
        box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
        clear: both;
        text-align: center;
        position: relative;
        z-index: 1;
    }

    html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
        display: block;
    }
</style>

<style>
    body {
        font-family: Calisto MT;
        margin: 0;
    }

    table {
        font-family: Calisto MT, sans-serif;
        border-collapse: collapse;
        width: 70%;
    }

    td, th {
        border: 1px solid #F0E68C;
        text-align: center;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #FAFAD2;
    }


    /* Style the top navigation bar */
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Calisto MT;
    }

    #cmb {
        text-align: center;
        height: 40px;
        width: 240px;
        border: 1px solid transparent;
        border-color: black;
    }

    .navbar a {
        float: right;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 17px;
        text-decoration: none;
    }


    input {
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid black;
        background: transparent;
        color: #b18757;
        font-weight: bold;
        font-family: 'Poppins';
        font-size: 20px;
    }

    .submit {
        width: 130px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
    }

    .submit-link {
        border: 2px solid #b18757;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 12px 0;
        text-align: center;
    }

        .submit-link:hover {
            background: #FAFAD2;
            color: #b18757;
        }

    .dropdown-content a:hover {
        background-color: #ddd;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

</style>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Add Student</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Contact, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Contact, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="radio" name="Gender" value="Male"> <b style="color  :#ECCF3E">Male </b>
                <input type="radio" name="Gender" value="Female"> <b style="color  :#ECCF3E">Female</b><br>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                &emsp; &emsp;<input type="date" name="DateOfBirth">
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="form-group">*@
            &emsp;  &emsp;<textarea rows="5" cols="32" name="Address" placeholder="Enter address here....."></textarea><br>
            <br />
            <div class="form-group">
                &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<strong name="RegNo">Registration No.</strong> &nbsp;&nbsp;&nbsp; <input type="text" name="regNum">
            </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    &emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &emsp; 
                        <b>Fee</b>

                        <font size="4">
                            &emsp;  &nbsp;&nbsp;&nbsp;  <input type="Number" name="Fee" min="200" max="10000" style="width : 200px" step="50">
                        </font>
                    
                   </div>
                </div> 
                    <div class="form-group">
                        <p>
                            &emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                            <input type="submit" class="submit-link submit" font-size="100px" value="Add">
                    </div>
                </div>
                
            }

            <div>
                @Html.ActionLink("Back to List", "Student")
                <br /><br /><br /><br />
            </div>


