@model IEnumerable<SMS.Models.DatesheetVM>
<br /><br />
<p>
   <h1>Class: @ViewBag.Class</h1> 
</p>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 80%;
        height: 90%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: center;
        padding: 8px;
        height: 70px;
        width: 50px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<table class="table">
    <tr>
       
       
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.day)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>


       
    </tr>

@foreach (var item in Model) {
    <tr>
       
       
       
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
       
    </tr>
}

</table>
@{
    if (ViewBag.Color == "red")
    {
        <div class="alert alert-danger">
            <strong>Error!</strong> @ViewBag.Message
        </div>
    }
}

